/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

//- Color
$Primary: #FFFFFF;

/* 白 */

$Secondary: #8bbfaa;

/* 淺綠 */

$Third: #2c6650;

/* 深綠 */

// $SecondaryPrimary: #68AF87;
// $SecondaryColor: #FFFFFF;
$bg_Primary: #FFFFFF;
//- Font
$FontPrimary: #000000;
//- Media
$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;